html {
  background-image: url('./images/banner.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

main {
  background-color: var(--color-black);
}

nav ul {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: var(--color-black);
  font-weight: 500;
  width: 20px;
  text-transform: uppercase;
  transition: 0.5s;
}

nav a:hover {
  font-weight: bold;
}

#presentation {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  height: 100vh;
  gap: 50px;
  padding-left: 100px;
}

#presentation div h1 {
  font-size: 4rem;
  font-weight: 600;
  text-transform: uppercase;
  word-spacing: -20px;
  cursor: default;
}

#presentation div h2 {
  font-weight: 500;
  text-transform: uppercase;
  cursor: default;
}

.presentation-buttom {
  margin-top: 25px;
}

.presentation-buttom a {
  text-decoration: none;
  color: var(--color-primary);
  background-color: var(--color-black);
  padding: 10px 30px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 600;
}

#presentation-mobile {
  display: none;
}

.container-center {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  justify-content: center;
  margin: 0 auto;
  padding: 0 2%;
}

#declaration {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.declaration-components {
  padding: 150px 100px;
  display: flex;
  align-items: center;
  transform: translateY(0px);
}

.img-declaration img {
  width: 120%;
}

.text-declaration {
  padding-left: 60px;
}

.title {
  color: var(--color-white);
  font-size: 2rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  cursor: default;
}

#projects {
  padding: 60px;
}

.project-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card {
  width: 30%;
  background-color: var(--color-dark-grey);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 25px;
  border-radius: 12px;
  margin: 10px 3% 0 0;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: transform 0.6s ease;
}

.project-card:hover {
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  background-color: var(--color-dark-grey-hover);
  cursor: pointer;
  z-index: 999;
}

#projects .subtitle {
  color: var(--color-white);
  font-size: 1.3rem;
  cursor: default;
}

#projects .link-button {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

#projects .link-button a {
  background-color: #ffffff2c;
  padding: 5px 10px;
  text-decoration: none;
  color: var(--color-white);
  border-radius: 10px;
  border: solid 1px gray;
  cursor: pointer;
}

#projects .link-button a:hover {
  border: solid 1px var(--color-white);
}

.repository-buttom {
  text-decoration: none;
  color: var(--color-white);
  padding: 10px 20px;
  margin-top: 50px;
  border: 1px solid var(--color-white);
  border-radius: 4px;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.repository-buttom:hover {
  border-color: var(--color-primary);
  color: var(--color-primary);
}

.modal-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #00000080;
  z-index: 2;
  display: grid;
  place-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
  z-index: 1000;
}

.modal-show {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  background-color: var(--color-dark-grey-hover);
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
  max-width: 60%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.close-modal button {
  background-color: #ffffff2c;
  border: solid 1px gray;
  color: var(--color-white);
  font-size: 20px;
  cursor: pointer;
  padding: 2px 10px;
  border-radius: 4px;
}

.modal-title {
  width: 100%;
  color: var(--color-grey);
  font-size: 1.5rem;
  cursor: default;
}

.modal-text {
  color: var(--color-grey);
  font-size: 1.1rem;
  cursor: default;
}

.text {
  color: var(--color-grey);
  font-size: 1.1rem;
  margin-top: 15px;
  cursor: default;
}

#skills {
  min-height: 100vh;
  padding: 40px 150px;
}

#skills .skills-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--color-white);
  width: 100%;
  cursor: default;
}

.skill {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.column {
  height: 7px;
  background-color: var(--color-dark-grey);
  width: 100%;
  border-radius: 20px;
  margin: 10px 0;
}

.statistic {
  height: 100%;
  background-color: var(--color-primary);
  border-radius: 20px;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 60px 220px;
  gap: 20px;
}

form {
  width: 100%;
}

form label {
  color: var(--color-grey);
}

form .text-field {
  background-color: var(--color-dark-grey);
  border: none;
  width: 100%;
  margin: 10px 0px;
  padding: 15px;
  color: var(--color-grey);
  transition: all 0.5s;
}

form .text-field:focus {
  outline: none;
  background-color: var(--color-dark-grey-hover);
}

form button {
  padding: 10px 20px;
  border: 1px solid var(--color-white);
  background-color: transparent;
  color: var(--color-white);
  border-radius: 4px;
  margin-top: 10px;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.4s;
  font-weight: 500;
  text-transform: uppercase;
}

form button:hover {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}

.goTop {
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 50px 20px;
}

.goTop a {
  text-decoration: none;
  color: var(--color-white);
  padding-bottom: 10px;
  border-bottom: var(--color-primary) solid 2px;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: var(--color-black);
}
::-webkit-scrollbar-thumb {
  background-color: #ffffff21;
  border-radius: 10px;
}

@media screen and (max-width: 1100px) {
  .project-card {
    width: 47%;
  }
}

@media screen and (max-width: 820px) {
  .declaration-components {
    padding: 100px 50px;
  }

  .title {
    font-size: 2rem;
  }

  .text {
    font-size: 0.9rem;
  }

  .img-declaration img {
    width: 120%;
  }

  .modal {
    max-width: 90%;
  }

  #projects {
    padding: 20px 10px 0 10px;
  }

  .project-card {
    width: 100%;
    margin: 10px 0;
    margin-right: 3%;
  }

  .project-card:hover {
    -webkit-transform: none;
    transform: none;
    z-index: 0;
  }

  #projects .subtitle {
    font-size: 1.2rem;
  }

  #skills {
    padding: 40px 10px 0 10px;
  }

  #skills .skills-container {
    padding: 0 15px;
  }

  #form {
    padding: 60px 20px;
  }
}

@media screen and (max-width: 500px) {
  #presentation {
    display: none;
  }

  #presentation-mobile {
    display: block;
    background-color: var(--color-primary);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  #presentation-mobile div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #presentation-mobile div img {
    width: 70%;
    animation: float 5s ease-in-out infinite;
  }

  #presentation-mobile h1 {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    word-spacing: -10px;
    cursor: default;
  }

  #presentation-mobile h2 {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: default;
  }

  #presentation-mobile span {
    font-size: 3rem;
  }

  nav li {
    text-align: center;
    margin-top: 10px;
  }

  nav li a {
    font-size: 1.1rem;
  }

  .text-declaration {
    border-left: none;
    padding-left: 0px;
  }

  .modal-title {
    font-size: 1.3rem;
  }

  .modal-text {
    font-size: 0.9rem;
  }

  .img-declaration img {
    display: none;
  }

  .img-card {
    display: none;
  }
}
