* {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(images/background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-color: #061d35;
}

nav ul {
  list-style: none;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  background-color: transparent;
  width: 100%;
  padding: 10px;
  transition: 0.4s;
}

.menuFixo {
  background-color: #000c18;
  z-index: 2;
}

nav li {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  transition: 0.4s;
  margin-left: 10px;
}

nav li:hover {
  background-color: #c37b3c;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  padding: 4px 10px;
  display: block;
}

#presentation {
  background-color: #000c18;
}

#presentation img {
  width: 100%;
}

.container-center {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  justify-content: center;
  margin: 0 auto;
  padding: 0 2%;
}

#declaration {
  background-color: #000c18;
}

.declaration-components {
  padding: 200px 100px;
  display: flex;
  align-items: center;
  transform: translateY(0px);
  animation: float 5s ease-in-out infinite;
}

.img-declaration img {
  width: 300px;
}

.text-declaration {
  border-left: #fff solid 2px;
  padding-left: 30px;
}

.title {
  color: #ffdf2b;
  font-size: 3rem;
  margin-bottom: 20px;
}

#projects {
  padding: 60px;
}

.project-card {
  display: flex;
  align-items: center;
  background-color: #10121b;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 15px;
  border-radius: 12px;
  margin: 10px 0;
  transition: 1s;
}

.img-card {
  background-color: #c37b3c;
  border-radius: 100%;
  padding: 20px;
  margin-right: 20px;
}

.img-card img {
  width: 100px;
  height: 100px;
}

.project-card:hover {
  background-color: #061d35;
}

#projects .subtitle {
  color: #fff;
  font-size: 2rem;
}

.text {
  color: rgb(200, 200, 200);
  font-size: 1.1rem;
  margin-top: 15px;
}

.division {
  margin-left: 60px;
  width: 60%;
  height: 10px;
  background-image: linear-gradient(
    to right,
    #ffdf2b,
    rgba(255, 187, 0, 0.712),
    rgba(255, 187, 0, 0.397),
    rgba(51, 49, 44, 0)
  );
}

#skills {
  padding: 40px;
}

#skills .skills-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#skills .skill {
  background-color: #10121b;
  display: flex;
  align-items: center;
  max-width: 500px;
  color: rgb(200, 200, 200);
  padding: 20px;
  margin: 10px;
  border-radius: 6px;
  transform: translateY(0px);
  animation: float 5s ease-in-out infinite;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}

#skills img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
}

#skills img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.3);
}

.goTop {
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 50px 20px;
}

.goTop a {
  text-decoration: none;
  color: #fff;
  padding-bottom: 20px;
  border-bottom: #ffdf2b solid 2px;
}

#networks {
  background-color: #000c18;
  padding: 20px;
}

#networks span {
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards div {
  padding: 10px;
  margin: 10px;
}

.cards div a img {
  width: 50px;
  height: 50px;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
}

.cards div a img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #000c18;
}
::-webkit-scrollbar-thumb {
  background-color: #ffffff21;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  nav {
    display: none;
  }

  .declaration-components {
    padding: 100px 50px;
  }

  .title {
    font-size: 2rem;
  }

  .text {
    font-size: 0.9rem;
  }

  .img-declaration img {
    width: 100px;
  }

  #projects {
    padding: 20px 10px 0 10px;
  }

  .img-card img {
    width: 50px;
    height: 50px;
  }

  #projects .subtitle {
    font-size: 1.2rem;
  }

  #skills {
    padding: 40px 10px 0 10px;
  }

  #skills .skill {
    font-size: 0.8rem;
  }

  #skills img {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 500px) {
  nav {
    display: none;
  }

  .text-declaration {
    border-left: none;
    padding-left: 0px;
  }

  .title {
    font-size: 2rem;
  }

  .text {
    font-size: 0.9rem;
  }

  .img-declaration img {
    display: none;
  }

  .img-card {
    display: none;
  }

  #projects .subtitle {
    font-size: 1.2rem;
  }

  #skills .skill {
    font-size: 0.8rem;
  }

  #skills img {
    width: 60px;
    height: 60px;
  }
}
